.back_button { /*Кнопка назад*/
    background-color: #6b9cff;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    border-radius: 8px;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    position: relative;
    top: 0px;
    float: left;
    width: 50px;
}

.back_button > a {
    text-decoration: none;
    color: #fff;
}
.main_text { /*Заголовок и литературный источник*/
    margin: 0px;
    font-size: 20px;
}

.main_text > p {
    margin: 0px;
}

.img_and_input {
justify-content: start;
display: flex;
margin-top: 30px;
}

.img_scheme { /*Картинка со схемой*/
    width: 400px;
    margin: 10px;
    position: relative;
}

.input_area { /*Поля ввода*/
    width: 300px;
    margin: 10px;
}

.mm { /*Чтобы нормально разместить единицы измерения справа от полей, нужно пересмотреть применение float right*/
    float: right;
    margin: 0px;
    
}

.input_power {
    margin-left: 20px;
}

label.label1 {
    display: inline-block;
    width: 80px;
    height: 20px;
}

label.label2 {
    display: inline-block;
    width: 180px;
    height: 20px;
}

.CalcZ {
    background-color: #94ffa6;
}